.update__modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: transparent;
}

.update__modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid grey;
    width: 50%;
}

.modal__input {
    width: content-box;
    height: 75px;
}

.modal_edit {
    margin-left: 20px;
}
